body {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid grey;
  margin: 0px;
  padding: 20px;
}

#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}

#grid ul {
  border-right: 1px solid grey;
  width: 100px;
  margin: 0;
  padding: 25px;
}

#article {
  padding-left: 25px;
}

div > p {
  padding: 15px;
}

.nav {
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  #grid {
    display: block;
  }

  #grid ul {
    border-right: none;
    background-color: rgb(192, 238, 217);
    width: 100%;
    padding: 5px;
  }

  .nav {
    border: 1px solid rgb(84, 253, 225);
    display: inline-block;
    padding: 3px;
    margin: 5px;
    background-color: rgb(84, 253, 225);
  }
}
